/* Estilo para el contenedor */
.file-upload-container {
    text-align: center;
    margin: 20px;
  }
  
  /* Estilo para el input de archivo oculto */
  .file-upload-input {
    display: none; /* Oculta el input de archivo */
  }
  
  /* Estilo para el botón personalizado */
  .custom-upload-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
  }
  
  .custom-upload-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para mostrar el nombre del archivo seleccionado */
  .selected-file {
    font-weight: bold;
    margin-top: 10px;
  }