<form class="form">
    <p>Administracion</p>
    <div class="group">
      <input required="true" class="main-input" type="text">
      <span class="highlight-span"></span>
      <label class="lebal-email">Email</label>
    </div>
    <div class="container-1">
      <div class="group">
        <input required="true" class="main-input" type="text">
        <span class="highlight-span"></span>
        <label class="lebal-email">password</label>
      </div>
    </div>
    <button class="submit" (click)="iradministracion()">ingresar</button>
  </form>
